.loader {
    background-image: url("../../../assets/images/loader.gif");
    background-size: initial;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
